*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    
    font-family: 'Montserrat', sans-serif;
}
.sidebar {
    height: 100vh;
    background-color: black;
    
}
.bottom-border  {
    border-bottom: 1px groove #fff;
}
.sidebar-link:hover {
    background-color: #212529;
    border-radius: 5px;
}

.
.sidebar-link:target{
    background: rebeccapurple;
}